a {
    color: #1F71B3;
}

body {
    background-color: #328fca;
    font-family: Avenir, "Helvetica Neue", Helvetica, 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

div.related ul li a {
    #D64B3A
}

