a {
/*    color: #1F71B3; */
    color: rgb(179, 31, 3);
}

body {
    background-color: #328fca;
    font-family: Avenir, "Helvetica Neue", Helvetica, 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
	min-width: 740px;
	max-width: 800px;
	margin: 0 auto;
}

div.related ul li a {
    color: #D64B3A
}

pre {
    font-size: 12px;
}

